@import "../../scss/variables";
@import "../../scss/mixins";

.goBack {
  position: relative;
  padding: 10px 0 10px 37px;
  font-size: 10px;
  line-height: 1.2;
  font-weight: 600;
  color: $color-primary;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
  cursor: pointer;

  &::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto 0;
    width: 32px;
    height: 32px;
    content: "";
    background-color: rgba(255, 202, 101, 0.3);
    background-image: url("../../assets/svg/arrow-left-dark.svg");
    background-repeat: no-repeat;
    background-size: 4px 8px;
    background-position: center;
    border-radius: 50%;
  }
}
