@import "../../scss/variables";
@import "../../scss/mixins";

.listBlocks {
  display: flex;
  flex-wrap: wrap;
}

.itemBlock {
  position: relative;
  z-index: 1;
  min-width: 100px;
  margin-right: 11px;
  margin-bottom: 11px;
  padding: 18px 15px;
  text-align: center;
  color: $color-primary;
  background-color: $color-base-white;
  border-radius: $br-block;
  cursor: pointer;
  transition: background $trans-base;

  &:last-child {
    margin-right: 0;
  }

  &:hover {
    background-color: rgba(63, 78, 101, 0.04);
  }

  &::before {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: "";
    box-shadow: 0 15px 70px -11px rgba(43, 28, 1, 0.04);
    border-radius: 10px;
  }
}

.isActiveBlock {
  font-weight: 600;
  background-color: rgba(63, 78, 101, 0.04);
}

.listLinks {
  display: flex;
  flex-direction: column;
}

.itemLink {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: $color-base-black;
  text-transform: uppercase;
  cursor: pointer;
  transition: opacity $trans-base;

  &:hover {
    opacity: 0.6;
  }

  @include vp-767 {
    margin-bottom: 10px;
    font-size: $fz-base;
    font-weight: 400;
    color: $color-primary;
    text-transform: none;
  }
}

.isActiveLink {
  font-weight: 600;
}
