@import "../../scss/variables";
@import "../../scss/mixins";

.filtersForm {
  margin-bottom: 40px;

  @include vp-767 {
    margin-bottom: 20px;
  }
}

.priceContainer {
  margin-bottom: 30px;
}

.priceTitle {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: 300;
}

.priceUnits {
  font-weight: 600;
  color: $color-base-black;
}

.priceInputsContainer {
  display: flex;
}

.priceInputsSeparator {
  margin-right: 10px;
  margin-left: 10px;
}

.priceInput {
  width: 100px;
  padding: 4px 10px;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 12px;
  line-height: 1.25;
  font-weight: 300;
  color: $color-primary;
  text-align: center;
  background-image: linear-gradient(90deg, rgba(255, 198, 80, 0.3) 0%, rgba(254, 202, 110, 0.3) 97.25%);
  border: none;
  border-radius: 1000px;
}

.formButtonsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 25px;
}

.formSubmitButton {
  display: block;
  width: 170px;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;

  @include vp-767 {
    flex-grow: 1;
    margin-right: 15px;
  }
}

.formResetButton {
  width: 60px;
  height: 60px;
  padding: 10px;
  background-image: url("../../assets/svg/garbage-cart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
}
