@import "../../scss/variables";
@import "../../scss/mixins";

.navigation,
.navigation--header {
  display: flex;
  flex-wrap: wrap;

  .item {
    margin: 5px 0;
    padding: 5px 30px;
    border-right: 1px dashed rgba(63, 78, 101, 0.1);

    &:last-child {
      padding-right: 0;
      border: none;
    }
  }
}

.navigation--footer {
  display: flex;
  flex-direction: column;

  .item:not(:last-child) {
    margin-bottom: 20px;
  }

  .link {
    color: $color-base-white;
  }
}

.link {
  &:hover {
    text-decoration: underline;
  }
}
