// Viewports
// ---------------------------------
$vp-1449:                           1449px;
$vp-767:                            767px;


// Content-width
// ---------------------------------
$max-content-width:                 1370px;
$min-content-width:                 290px;


// Отступы
// ---------------------------------
$padding:                           40px;
$padding-mobile:                    15px;


// Шрифты
// ---------------------------------
$ff-base:                            "Lab Grotesque", "Arial", sans-serif;
$ff-logo:                            "Scania Sans CY Headline", "Arial", sans-serif;
$ff-additional:                      "Scania Sans CY", "Arial", sans-serif;


// Скейлинг
// ---------------------------------
$fz-base:                           14px;
$fz-title-main:                     40px;
$fz-title-secondary:                16px;
$fz-same-goods-title:               40px;

$fz-title-main-mobile:              20px;
$fz-title-secondary-mobile:         16px;
$fz-same-goods-title-mobile:        20px;

$lh-base:                           1.5;


// Цвета
// ---------------------------------
$color-base-black:                  #111111;
$color-base-white:                  #ffffff;
$color-primary:                     #3f4e65;
$color-additional:                  #ededed;
$color-accent:                      #ffc85e;


// Анимация
// ---------------------------------

$trans-base:                        0.3s ease;


// Border-radius
// ---------------------------------
$br-button:                         80px;
$br-block:                          10px;
$br-input:                          36px;
